body {
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
    color: red;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(196, 255, 232);
    text-align: center;
    font-size: 100px;
}


h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    margin: auto;
    color:rgb(47, 135, 212);
    text-align: center;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    margin: auto;
    color:rgb(47, 135, 212);
}

img {
    margin: auto;
    border-color: blueviolet;
    border-style: dashed;

}

h1:hover {
   background-color: rgb(255, 28, 198); 
}

